body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.answers li {
  list-style: none;
  background-color: aquamarine;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}
.answers li:hover {
  cursor: pointer;
}
